<div class="container">
  <div class="col-md-12">
    <%if current_user.admin?%>
      <bebas><h2>Admin's Dashboard</h2></bebas>
      <div class="users-index">
        <div class="row">
          <div class="col-md-12">
            <%= render 'index' %>
          </div>
        </div>
      </div>
      <% else %>
      <div>
        <bebas><h2>User Dashboard</h2></bebas>
      </div>
      <% @user = current_user %>
      <%= button_to "View Login History", logins_path(user_id: @user.id), :method => :get %> <br />
      <%= render 'show'%>
    <%end%>
  </div>
</div>
