<div class="container">
  <div class="row">
    <div class="col-md-12 pt-3 pb-3 mb-1">
      <div class="float-right">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
          <%= link_to "Signup", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="pt-1">
        <bebas><%= link_to "Project Tu.", root_path %></bebas>
      </div>
    </div>
  </div>
</div>